@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&display=swap');

body {
  background-image: url("https://wallpapercave.com/wp/wp2529629.jpg");
  background-repeat: no-repeat;
  background-position-x: -300px;
}

header {
  length: 100%
  position: absolute;
  top: 20px;
  left: 40%;
  background-color: grey;
  padding: 3px;
  background-image: url();
}

h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

article {
  text-align: center;
  background-color: grey;
  max-width: 700px;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  font-family: 'Barlow', sans-serif;
}

#text {
  top: 30px;
  left: 10%;
}

#image-container {
  position: relative; 
  top: -383.5px; 
  left: 870px; 
  width: 40%;
}

.image-crop {
  width: 500px;
  height: 135px;
  overflow: hidden;
}

.image-crop img {
  width: 100%
  height: auto;
}

.img-text {
  font-size: 70px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  height: 140px;
  width: 530px;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.593); 
  color: #fff; 
  padding: 10px; 
  visibility: hidden; 
}

.image-crop:hover .img-text {
  visibility: visible; 
}

#output{
  position: absolute;
  width: 600px;
  height: 500px;
  top: 100px;
  left: 170px;
}

#outputTxt {
  position: absolute;
  top: 100px;
  left: 800px;
  height: 500px;
  font-size: 20px;
}