/************************************* 
    Introduction Styles
*************************************/  
#headshot {
    width: 100%;
    height: auto;
    border: 10px var(--cyber-yellow) solid;
}

#signature {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: auto;
    background-color: #18181aa9;
    border: 5px var(--cyber-yellow) solid;
}

#intro-text {
    margin-top: 20px;

}

#socials {
    position: relative;
}

.github-div,
.linkedin-div,
.indeed-div {
    position: relative;
    margin-top: 50px;
    margin-left: 120px;
    width: 100px;
    height: 100px;
}

.github-div,
.linkedin-div {
    position: relative;
    left: 2%;
}

.github-div {
    background-image: url(../imgs/ui/logos/github.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.github-div:hover {
    background-image: url(../imgs/ui/logos/github-outline.png);
    transition: .5s;
}

#linkedin-div {
    background-image: url(../imgs/ui/logos/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#linkedin-div:hover {
    background-image: url(../imgs/ui/logos/linkedin-outline.png);
    transition: .5s;
}


/************************************* 
    About Me Styles
*************************************/
#about-me-contents {
    padding-top: 50px;
    padding-bottom: 20px;
}


#cyber-tab {
    font-size: 15px !important;
    background-color: var(--cyber-grey);
    padding: 0px;
    border-bottom: 4px var(--cyber-blue) solid;
}

.nav-tabs .nav-item {
    position: relative; 
    top: 0px;
    width: 33%;
    height: 65px !important;
    border: 2px var(--cyber-grey) solid;
    border-radius: 3px;
    color: var(--cyber-grey) !important;
    font-family: 'Kanit', sans-serif !important;
}

#cyber-tab .nav-link {
    width: 100%;
    position: relative; 
}

.active {
    background-color: var(--cyber-grey) !important;
    color: var(--cyber-yellow) !important;
}

.tab-pane {
    margin: 0 auto;
    padding: 10px;
    background-color: var(--cyber-grey);
    border: 6px var(--cyber-grey) solid;
    max-width: 2000px;
    transition: 0s;
    border-radius: 5px;
}

.tab-pane h2,
.tab-pane p {
    color: white;
}

