/************************************* 
    Introduction Styles
*************************************/  
#headshot {
    width: 100%;
    height: auto;
    border: 10px var(--cyber-yellow) solid;
}

#signature {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: auto;
    background-color: #18181aa9;
    border: 5px var(--cyber-yellow) solid;
}

#intro-text {
    margin-top: 20px;

}

#socials {
    position: relative;
}

.github-div,
.linkedin-div,
.indeed-div {
    position: relative;
    margin-top: 50px;
    margin-left: 120px;
    width: 100px;
    height: 100px;
}

.github-div,
.linkedin-div {
    position: relative;
    left: 2%;
}

.github-div {
    background-image: url(../imgs/ui/logos/github.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.github-div:hover {
    background-image: url(../imgs/ui/logos/github-outline.png);
    transition: .5s;
}

#linkedin-div {
    background-image: url(../imgs/ui/logos/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#linkedin-div:hover {
    background-image: url(../imgs/ui/logos/linkedin-outline.png);
    transition: .5s;
}


/************************************* 
    About Me Styles
*************************************/
#about-me-header {
    font-size: 40px; 
    border-bottom: 3px var(--cyber-grey) solid;
}

/* Tracks Tabs */
#about-me-tab-group {
    position: relative;
    top: 11.5px;
    height: 33%;
    width: 100%;
}

.nav-tabs {
    border: 0px !important;
}

#about-me-tab-group .nav-item {
    position: relative;
    left: 30px;
    width: 23%;
    padding: 0px;
    margin-bottom: 3px;
    font-size: 7px !important;
    height: 300%;
}

#about-me-tab-group .nav-link {
    position: relative;
    top: -93%;
    left: -22%;
    width: 100%;
    height: 65%;
    padding: 0px;
    text-indent: 0px;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#about-me-tab-group .active {
    border-bottom: 3px var(--cyber-grey) solid !important;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: var(--cyber-red);
    color: black !important;
}

.tab-content {
    background-color: rgba(0, 0, 0, 0.644);
    border: 7px var(--cyber-red) solid;
}

.tab-content h2 {
    color: white;
}

.tab-content p {
    color: white;
    text-indent: 30px;
}

.tab-pane {
    background-color: transparent;
    border-bottom: 0px !important;
    padding: 30px;
}


/************************************* 
    Skill Styles
*************************************/
:root {
    --skillWidth: 250px;
    --skillHeight: 225px;
}

.skill-bg-icon {
    margin-left: 15%;
    padding: 30px;
    background-image: url("../imgs/ui/logos/skills/skill-holder.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: var(--skillWidth) !important;
    max-width: var(--skillWidth) !important;
    min-height: var(--skillHeight) !important;
    max-height: var(--skillHeight) !important;
}

.skill-bg-icon h5,
.skill-bg-icon p {
    position: relative;
    margin-top: 15px;
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
}

.skill-bg-icon p {
    font-size: 50px;
    margin-top: 4px;
    
}

.skill-icon {
    position: relative;
    left: 35%;
    top: -20px;
    width: 30%;
    height: auto;

}

.skill-holder {
    position: relative;
    margin-top: 20px;
    left: 0%;
    width: 100%;
}

.card {
    transition: .6s;
    background-color: #18181ad6;
    border: 5px var(--cyber-red) solid;
    border-radius: 9px;
    font-family: 'Kanit', sans-serif;
    color: white;
}

.card .code-call {
    position: relative;
    left: -8px;
    top: -10px;
    color: var(--cyber-blue)
}

#skill-menu .card:hover {
    .experienced {
        transition: .6s;
        color: var(--cyber-yellow) !important;
        font-size: 20px;
    }

    .novice {
        transition: .6s;
        font-size: 14px;
    }
}
