.nav-tabs .nav-item {
    background-color: var(--cyber-yellow);
    border: 1px var(--cyber-yellow) solid;
    border-radius: 3px;
    margin-right: 5px;
    color: var(--cyber-grey) !important;
    font-family: 'Kanit', sans-serif !important;
}

.active {
    background-color: var(--cyber-grey) !important;
    color: var(--cyber-yellow) !important;
}

.tab-pane {
    background-color: rgba(0, 0, 0, 0);
    transition: 0s;
    padding: 20px;
}

.cyber-card {
    margin-top: 10px;
}

.cyber-card-header {
    margin-left: 10px;
    margin-top: 10px;
    color: var(--cyber-grey);
}

#labs-footer {
    margin-top: 50px; 
    border-top: 4px var(--cyber-blue) solid;
}