<!-- Footer -->
<div id="footer" class="mt-4 p-3 bg-dark text-center cyber-yellow-bg" style="min-height: 200px; border-top: 4px var(--cyber-blue) solid;">
    <div class="row mt-3 mb-3">
        <div class="col-xl-4 mb-5">
            <h1 id="footer-header" style="width: 80%; margin: 0 auto;">W. RYAN MCD.</h1>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <a target="_blank" href="https://github.com/Azyn7"><img class="github-footer img-fluid footer-socials" src="./styles/imgs/ui/logos/github-grey.png" style="width: 100%;" alt="github footer logo"></a>
                </div>
                <div class="col">
                    <a target="_blank" href="https://www.linkedin.com/in/wrmcd/"><img src="./styles/imgs/ui/logos/linkedin-grey.png" class="footer-socials img-fluid" style="width: 100%;" alt="linked in footer logo"></a>
                </div>
                <div class="col">
                    <a target="_blank" href="https://www.youtube.com/@wickynii"><img class="youtube-footer footer-socials img-fluid" src="./styles/imgs/ui/logos/youtube-grey.png" style="width: 100%;" alt="youtube footer logo"></a>
                </div>
            </div>  
        </div>
        <div class="col-xl-4 mb-5">
            <h4>QUICK LINKS</h4>
            <p style="text-align: center;">
                <a href="">Back to Top</a><br>
                <a target="_blank" href="https://www.dropbox.com/scl/fi/yypsvh0qy8t744j3rbh52/MCDONALD-_WILLIAM_RYAN_Resume-2025.pdf?rlkey=u3t5c8rf5ct3kl70rk8r5kxzp&st=b7ttndov&dl=0">Resume</a><br>
                <a target="_blank" href="https://github.com/Azyn7/CIS-376-01">Page GitHub Repo</a><br>
                <a target="_blank" href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwrmcd.net%2Findex.html">Page Validation</a>
            </p>
        </div>
        <div class="col-xl-4 mb-5">
            <h4>CONTACT</h4>
            <p style="text-align: center;">
                w.mcd0320@gmail.com<br>
            </p>
        </div>
    </div>
    <div class="div">
        © 2023 | WRMCD. Made and learned in two weeks.
    </div>
</div>