<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg  navbar-cyberpunk navbar-fixed position-sticky" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand cyber-bold-font" id="navbar-header" href="/index.html">
            W. RYAN MCD.
        </a>
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon" id="navbar-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" id="active" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./pages/portfolio.html">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.dropbox.com/scl/fi/01upopls9ib1dsa9edzq1/MCDONALD-_WILLIAM_RYAN_Resume-2025.docx?rlkey=4949g61i258er54bxzsbt3pb4&st=lrpzj0df&dl=0">RESUME</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- -->