<div class="container-fluid cyber-yellow-bg">
        <p style="font-size: 15px;">///header.call_skillMenu()</p>
        <h1 class="index-header">&lt;::SKILLS::&gt;</h1>
        <br>
        <div class="row">
            <div class="col-xl-6">
                <div class="skill-bg-icon mt-4" id="technical-icon" data-aos="fade-up">
                    <h5>TECHNICAL</h5>
                    <p>7</p>
                    <img src="./styles/imgs/ui/logos/skills/technical.png" class="img-fluid skill-icon" alt="technical skills icon">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mt-5" data-aos="fade-right">
                    <div class="card-body">
                        <h6 class="code-call">///skills.technicalCall()</h6>
                        <div class="row card-list">
                            <div class="col">
                                <ul>
                                    <li class="experienced mb-2">C++</li>
                                    <li class="experienced mb-2">Java</li>
                                    <li class="experienced mb-2">Python</li>
                                    <li class="novice mb-2">Lua</li>
                                    <li class="novice mb-2">SQL</li>
                                    <li class="novice mb-2">Databases</li>
                                    <li class="novice mb-2">Networks</li>
                                    <li class="experienced mb-2">PC Repair</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li class="experienced mb-2">HTML</li>
                                    <li class="experienced mb-2">CSS</li>
                                    <li class="experienced mb-2">Bootstrap</li>
                                    <li class="novice mb-2">JavaScript</li>
                                    <li class="novice mb-2">JQuery</li>
                                    <li class="experienced mb-2">Hardware Troubleshooting</li>
                                    <li class="experienced mb-2">IT Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="skill-bg-icon mt-4" id="production-icon" data-aos="fade-up">
                    <h5>PRODUCTION</h5>
                    <p>7</p>
                    <img src="./styles/imgs/ui/logos/skills/production.png" class="img-fluid skill-icon" alt="production skills icon">
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card mt-5" data-aos="fade-right">
                    <div class="card-body">
                        <h6 class="code-call">///skills.productionCall()</h6>
                        <div class="row card-list">
                            <div class="col">
                                <ul>
                                    <li class="experienced mb-2">Photoshop</li>
                                    <li class="novice mb-2">After Effects</li>
                                    <li class="experienced mb-2">Premiere Pro</li>
                                    <li class="experienced mb-2">Office 365</li>
                                    <li class="experienced mb-2">Google Apps</li>
                                    <li class="novice mb-2">Zoom</li>
                                    <li class="novice mb-2">Skype</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li class="novice mb-2">Networking</li>
                                    <li class="novice mb-2">Liveserver</li>
                                    <li class="experienced mb-2">GFX Design</li>
                                    <li class="experienced mb-2">Editing</li>
                                    <li class="novice mb-2">Scripting</li>
                                    <li class="experienced mb-2">Writing</li>
                                    <li class="novice mb-2">Systems Analysis and Design</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="skill-bg-icon mt-4" id="interpersonal-icon" data-aos="fade-up">
                    <h5>INTERPERSONAL</h5>
                    <p>7</p>
                    <img src="./styles/imgs/ui/logos/skills/interpersonal.png" class="img-fluid skill-icon" alt="interpersonal skills icon">
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card mt-5 mb-5" data-aos="fade-right">
                    <div class="card-body">
                        <h6 class="code-call">///skills.interpersonalCall()</h6>
                        <div class="row card-list">
                            <div class="col">
                                <ul>
                                    <li class="experienced mb-2">Leadership</li>
                                    <li class="experienced mb-2">Team Management</li>
                                    <li class="novice mb-2">Staffing</li>
                                    <li class="novice mb-2">Team Scheduling</li>
                                    <li class="novice mb-2">Schedule Coordination</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li class="experienced mb-2">Communication</li>
                                    <li class="experienced mb-2">Teamwork</li>
                                    <li class="novice mb-2">Event Management</li>
                                    <li class="experienced mb-2">Event Planning</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>