* {
    transition: opacity 1s ease-in-out;
}

/*
Font not working for Pages, for some reason.
*/
@font-face {
    font-family: 'Balgruf';
    src: url("fonts/Balgruf-31cd.woff2");
}

/*********************************
    All tag related styles.
*********************************/
/*
Had to change from file directory to online URL. File directory was not working.
*/
body {
    background-image: url(https://staticdelivery.nexusmods.com/images/1704/32069220-1501844596.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p,
h3 {
    font-family: Balgruf;
    color: white;
}

h3 {
    text-align: center;
}

p {
    font-size: 17px;
}
/********************************/

.nav-link:hover {
    border-radius: 30px;
    background-color: #b9b9b9;
}

.navbar-brand,
.nav-item {
    font-family: Balgruf !important;
}

/*********************************
    Used for fading in and out. By
    default, it is enabled on
    whatever element is needed
    to be faded in. Then, when it
    is time to be faded in,
    it is removed with javascript.
*********************************/
.fade-in-out {
    opacity: 0;
}
/********************************/

.continue {
    position: relative;
    top: -20px;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    font-family: Balgruf;
    font-size: 30px;
}

/*********************************
    All dialogue related styles.
*********************************/
.text-box {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 3px solid rgb(189, 189, 189);
    text-align: center;
}

#introduction {
    position: absolute;
    top: 70px;
    left: 150px;
    width: 500px;
    height: 600px;
}

#intro-article {
    padding: 10px;
}

#intro-text {
    text-align: center;
    font-size: 100%;
    font-size: 16.5px;
}

#dialogue {
    position: absolute;
    top: 70px;
    left: 985px;
    width: 500px;
    height: 300px;
    padding: 10px;
}

/*********************************
    Image Related Styles
*********************************/
.img-box {
    width: 300px;
    height: 600px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.552);
}

#guard {
    position: absolute;
    top: 70px;
    left: 670px;
}

#guard-img {
    position: relative;
    left: -150px;
}

/*********************************
    Input related styles.
*********************************/
#response {
    position: relative;
    top: -24px;
    left: 80px;
    width: 310px;
    height: 40px;
    transition: opacity 10s ease-in-out;
}

#response-name {
    position: relative;
    font-size: 30px;
    left: -10px;
    color: white;
    transition: opacity 3s;
}

#name {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Balgruf;
    font-size: 20px;
    width: 150px;
    height: 28px;
    top: -55px;
    color: white;
    border-radius: 10px;
}

#submit-response {
    position: relative;
    top: -55px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Balgruf;
    color: white;
    border-radius: 10px;
}

#submit-response:hover {
    background-color: rgba(255, 255, 255, 0.749);
    transition: .5s;
    color: black;
}

#finale {
    transition: 5s ease-in-out;
}
