:root {
    --cyber-yellow: #fcf700;
    --cyber-grey: #18181a;
}

/*************************************
    Text Related Class
*************************************/
.cyber-header-font {
    font-family: 'Josefin Sans', sans-serif;
}

.cyber-text-font {
    font-family: 'Mulish', sans-serif;
}

.cyber-bold-font {
    font-family: 'Kanit', sans-serif;
}

.cyber-yellow-shadow {
    text-shadow: 2px 1px --cyber-yellow;
}

.cyber-white-shadow {
    text-shadow: 2px 1px white;
}


.btn-cyber {
    background-color: var(--cyber-yellow);
    border: 4px var(--cyber-yellow) solid;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cyber-grey);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.btn-cyber:hover {
    background-color: var(--cyber-grey);
    color: var(--cyber-yellow);
    font-size: 25px;
    transition: .5s;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.btn-cyber-grey {
    background-color: var(--cyber-grey) !important;
    border: 4px var(--cyber-grey) solid !important;
    color: var(--cyber-yellow) !important;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    width: 100%;
}

.btn-cyber-grey:hover {
    background-color: var(--cyber-yellow);
    color: var(--cyber-grey);
    font-size: 25px;
    transition: .5s;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.btn-cyber-grey:focus {
    background-color: var(--cyber-yellow) !important;
    color: var(--cyber-grey) !important;
    transition: .5s;
}

/*************************************
    Color Styles
*************************************/

.cyber-yellow-bg {
    background-color: var(--cyber-yellow) !important;
}

.cyber-yellow {
    color: var(--cyber-yellow) !important;
}

.cyber-grey-bg {
    background-color: var(--cyber-grey) !important;
}

.cyber-grey {
    color: var(--cyber-grey) !important;
}

.cyber-border-grey-10 {
    border: 10px var(--cyber-grey) solid;
}

.cyber-black-hover:hover {
    transition: .5s;
    filter: drop-shadow(16px 16px 10px black);
}
