@media only screen and (min-width: 768px) {
    #socials {
        margin-left: 160px;
    }

    #small-beginnings-vid-div {
        margin-left: 0px;
        height: 400.95px;
        width: 712.8px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 820px) {
    #small-beginnings-vid-div {
        margin-left: 0px;
        height: 430.20px;
        width: 764.8px;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 992px) {
    .navbar {
        height: 60px;
    }
    .nav-item {
        position: relative;
        top: -10px;
    }

    .nav-link {
        text-indent: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    #socials {
        left: -120px;
        margin: 0 auto;
    }

    #small-beginnings-vid-div {
        margin: 0 auto;
    }

    nav .nav-tabs .nav-link {
        margin-left: 35% !important;
    }

    nav #nav-second-tab,
    nav #nav-third-tab {
        margin-left: 0px !important;
    }
}