/*********************
    This CSS file mostly correlates to every page. It is overarching styles, such as nav,
    fonts, and colors, and other things, like buttons.
*********************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:ital,wght@0,800;1,800&family=Mulish:ital,wght@0,600;1,600&display=swap');
/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Mulish', sans-serif;*/

:root {
    --cyber-yellow: #fcf700;
    --cyber-grey: #18181a;
    --cyber-blue: #00f1ff;
    --cyber-red: #e5132a;
}

body {
    /* background-image: url("./imgs/ui/bg.jpg"); */
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(24,24,26,1) 55%, rgba(33,33,33,1) 100%);
    perspective: 1px;
    transform-style: preserve-3d;
}

/*************************************
    NAV Styles
*************************************/
.navbar {
    position: fixed;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    width: 100%;
}

.navbar-brand {
    color: var(--cyber-grey);
}

.navbar-cyberpunk {
    background-color: var(--cyber-yellow);
    border-bottom: 4px var(--cyber-blue) solid;
    color: var(--cyber-grey);
    transition: .5s;
}

.navbar-cyberpunk-alt {
    background-color: var(--cyber-grey);
    border-bottom: 4px var(--cyber-blue) solid;
    color: var(--cyber-yellow);
    transition: .5s;
}

.navbar-collapse {
    padding-top: 20px;
}

.nav-link {
    text-indent: 20px;
}

.navbar-cyberpunk .navbar-nav .nav-link{
    position: relative;
    top: -10px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cyber-grey);
    height: 144%;
}

.navbar-cyberpunk-alt .navbar-nav .nav-link{
    position: relative;
    top: -10px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cyber-yellow);
    height: 144%;
}

.navbar-cyberpunk .nav-item.active .nav-link,
.navbar-cyberpunk .nav-item:focus .nav-link,
.navbar-cyberpunk .nav-item:hover .nav-link {
    color: var(--cyber-yellow) !important;
    background-color: var(--cyber-grey);
    border-bottom: 5px var(--cyber-red) solid !important;
}

.navbar-cyberpunk-alt .nav-item.active .nav-link,
.navbar-cyberpunk-alt .nav-item:focus .nav-link,
.navbar-cyberpunk-alt .nav-item:hover .nav-link {
    color: var(--cyber-grey) !important;
    background-color: var(--cyber-yellow);
    border-bottom: 5px var(--cyber-red) solid !important;
}

.navbar-toggler-icon {
    background-image: url(./imgs/ui/navbar-button-dark.png);
}

.navbar-toggler-icon-alt {
    background-image: url(./imgs/ui/navbar-button.png);
}

.navbar-toggler:focus {
    .navbar-toggler-icon {
        background-image: url(./imgs/ui/navbar-button.png);
    }
    background-color: var(--cyber-grey);
}

.active {
    background-color: var(--cyber-grey);
    color: var(--cyber-yellow) !important;
    border-bottom: 5px var(--cyber-red) solid !important;
}

.active-alt {
    background-color: var(--cyber-yellow);
    color: var(--cyber-grey) !important;
    border-bottom: 5px var(--cyber-red) solid !important;
}

/*************************************
    Text Related Styles
*************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


.cyber-header-font {
    font-family: 'Josefin Sans', sans-serif !important;
}

.cyber-text-font {
    font-family: 'Mulish', sans-serif !important;
}

.cyber-bold-font {
    font-family: 'Kanit', sans-serif !important;
}

#footer-header {
    border-bottom: 3px var(--cyber-grey) solid;
    border-radius: 10px;
    padding-bottom: 10px;
}

#footer p {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 15px;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    text-decoration: none;
    color: var(--cyber-red);
}

.footer-socials {
    width: 30% !important;
}

.github-footer {
    position: relative;
    left: 70%;
}

.youtube-footer {
    position: relative;
    left: -70%;
}

.code-call {
    position: relative;
    top: -20px;
    left: -50px;
    font-size: 10px;
}

/*************************************
    Design Related Styles
*************************************/
.cyber-yellow-shadow {
    text-shadow: 2px 1px var(--cyber-yellow);
}

.cyber-white-shadow {
    text-shadow: 2px 1px white;
}

.cyber-grey-border {
    border: 10px var(--cyber-grey) solid;
}



/*************************************
    Button Related Styles
*************************************/
.btn-cyber {
    background-color: var(--cyber-yellow);
    border: 4px var(--cyber-yellow) solid;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cyber-grey);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    text-decoration: none !important;
}

.btn-cyber:hover {
    background-color: var(--cyber-grey);
    color: var(--cyber-yellow);
    transition: .5s;
    width: 100%;
}

.btn-cyber-grey {
    background-color: var(--cyber-grey) !important;
    border: 4px var(--cyber-grey) solid !important;
    color: var(--cyber-yellow) !important;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    width: 100%;
}

.btn-cyber-grey:hover {
    background-color: var(--cyber-yellow);
    color: var(--cyber-grey);
    transition: .5s;
    width: 100%;
    margin-top: 5px;
}

.btn-cyber-grey:focus {
    background-color: var(--cyber-yellow) !important;
    color: var(--cyber-grey) !important;
    transition: .5s;
}

/*************************************
    Card Styles
*************************************/
.cyber-info {
    background-color: var(--cyber-grey);
    padding: 20px;
}

.cyber-info h2 {
    padding-left: 10px;
}

.cyber-card {
    width: 100%;
    background-color: var(--cyber-grey);
    border: 4px var(--cyber-blue) solid;
    
}

.cyber-card-header {
    position: relative;
    left: -10px;
    top: -10px;
    padding: 5px;
    background-color: var(--cyber-yellow);
    width: 100%;
    
}

.cyber-card-btn {
    background-color: var(--cyber-yellow);
    border: 5px var(--cyber-yellow) solid;
    width: 40%;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.cyber-card-btn:hover {
    background-color: var(--cyber-grey);
    color: white;
    transition: .3s;

}

.cyber-card-btn-alt {
    background-color: var(--cyber-grey);
    border: 5px var(--cyber-yellow) solid;
    color: white;
    width: 40%;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.cyber-card-btn-alt:hover {
    background-color: var(--cyber-yellow);
    color: var(--cyber-grey);
}

/*************************************
    Color Styles
*************************************/

.cyber-yellow-bg {
    background-color: var(--cyber-yellow) !important;
}

.cyber-yellow {
    color: var(--cyber-yellow) !important;
}

.cyber-grey-bg {
    background-color: var(--cyber-grey) !important;
}

.cyber-grey {
    color: var(--cyber-grey) !important;
}

.cyber-border-grey-10 {
    border: 10px var(--cyber-grey) solid;
}

.cyber-black-hover:hover {
    transition: .5s;
    filter: drop-shadow(16px 16px 10px black);
}

.cyber-parallax {
    /* The image used */
    background-image: url("./imgs/header/coding-bg.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }