/*********************
    This CSS file mostly correlates to every page. It is overarching styles, such as nav,
    fonts, and colors, and other things, like buttons.
*********************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:ital,wght@0,800;1,800&family=Mulish:ital,wght@0,600;1,600&display=swap');
/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Mulish', sans-serif;*/

:root {
    --cyber-yellow: #fcf700;
    --cyber-grey: #18181a;
    --cyber-blue: #00f1ff;
}

body {
    /* background-image: url("./imgs/ui/bg.jpg"); */
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(24,24,26,1) 55%, rgba(33,33,33,1) 100%);
    perspective: 1px;
    transform-style: preserve-3d;
}

/*************************************
    NAV Styles
*************************************/
.navbar {
    position: fixed;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    width: 100%;
}

.navbar-cyberpunk {
    background-color: var(--cyber-yellow);
    border-bottom: 4px var(--cyber-blue) solid;
    color: var(--cyber-grey);
}

.navbar-collapse {
    padding-top: 20px;
}

.nav-link {
    text-indent: 20px;
}

.navbar-cyberpunk .navbar-nav .nav-link{
    position: relative;
    top: -10px;
    font-family: 'Josefin Sans', sans-serif;
    color:var(--cyber-grey);
    height: 144%;
}

.navbar-cyberpunk .nav-item.active .nav-link,
.navbar-cyberpunk .nav-item:focus .nav-link,
.navbar-cyberpunk .nav-item:hover .nav-link {
    color: var(--cyber-yellow);
    background-color: var(--cyber-grey);
}

.navbar-toggler-icon {
    background-image: url(./imgs/ui/navbar-button-dark.png);
}

.navbar-toggler:focus {
    .navbar-toggler-icon {
        background-image: url(./imgs/ui/navbar-button.png);
    }
    background-color: var(--cyber-grey);
}

.active {
    background-color: var(--cyber-grey);
    color: var(--cyber-yellow) !important;
}

/*************************************
    Text Related Styles
*************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


.cyber-header-font {
    font-family: 'Josefin Sans', sans-serif !important;
}

.cyber-text-font {
    font-family: 'Mulish', sans-serif !important;
}

.cyber-bold-font {
    font-family: 'Kanit', sans-serif !important;
}

/*************************************
    Design Related Styles
*************************************/
.cyber-yellow-shadow {
    text-shadow: 2px 1px var(--cyber-yellow);
}

.cyber-white-shadow {
    text-shadow: 2px 1px white;
}

.cyber-grey-border {
    border: 10px var(--cyber-grey) solid;
}



/*************************************
    Button Related Styles
*************************************/
.btn-cyber {
    background-color: var(--cyber-yellow);
    border: 4px var(--cyber-yellow) solid;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cyber-grey);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.btn-cyber:hover {
    background-color: var(--cyber-grey);
    color: var(--cyber-yellow);
    font-size: 25px;
    transition: .5s;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.btn-cyber-grey {
    background-color: var(--cyber-grey) !important;
    border: 4px var(--cyber-grey) solid !important;
    color: var(--cyber-yellow) !important;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    width: 100%;
}

.btn-cyber-grey:hover {
    background-color: var(--cyber-yellow);
    color: var(--cyber-grey);
    font-size: 25px;
    transition: .5s;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.btn-cyber-grey:focus {
    background-color: var(--cyber-yellow) !important;
    color: var(--cyber-grey) !important;
    transition: .5s;
}

/*************************************
    Color Styles
*************************************/

.cyber-yellow-bg {
    background-color: var(--cyber-yellow) !important;
}

.cyber-yellow {
    color: var(--cyber-yellow) !important;
}

.cyber-grey-bg {
    background-color: var(--cyber-grey) !important;
}

.cyber-grey {
    color: var(--cyber-grey) !important;
}

.cyber-border-grey-10 {
    border: 10px var(--cyber-grey) solid;
}

.cyber-black-hover:hover {
    transition: .5s;
    filter: drop-shadow(16px 16px 10px black);
}