@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:ital,wght@0,800;1,800&family=Mulish:ital,wght@0,600;1,600&display=swap');
/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Mulish', sans-serif;*/

body {
    /* background-image: url("./imgs/ui/bg.jpg"); */
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(24,24,26,1) 55%, rgba(33,33,33,1) 100%);
}

/*************************************
    Text Related Class
*************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.cyber-header-font {
    font-family: 'Josefin Sans', sans-serif;
}

.cyber-text-font {
    font-family: 'Mulish', sans-serif;
}

.cyber-bold-font {
    font-family: 'Kanit', sans-serif;
}

.cyber-yellow-shadow {
    text-shadow: 2px 1px #fcf700;
}

.cyber-white-shadow {
    text-shadow: 2px 1px white;
}

.btn-cyber {
    background-color: #fcf700;
    border: 4px #fcf700 solid;
    color: #18181a;
    padding: 10px;
    width: 100%;
}

.btn-cyber:hover {
    background-color: #18181a;
    color: #fcf700;
    font-size: 25px;
    transition: .5s;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

/*************************************
    Color Styles
*************************************/

.cyber-yellow-bg {
    background-color: #fcf700 !important;
}

.cyber-yellow {
    color: #fcf700 !important;
}

.cyber-grey-bg {
    background-color: #18181a !important;
}

.cyber-grey {
    color: #18181a !important;
}

/*************************************
    NAV Styles
*************************************/
.navbar {
    position: fixed;
       top: 0;
       z-index: 1030; /* to prevent the navbar getting covered up by other content */
       width: 100%;
}
.navbar-cyberpunk {
    background-color: #fcf700;
    border-bottom: 4px #18181a solid;
    color: #18181a;
}
.navbar-cyberpunk .navbar-nav .nav-link{
    position: relative;
    top: -10px;
    font-family: 'Josefin Sans', sans-serif;
    color:#18181a;
    height: 144%;
}

.navbar-cyberpunk .nav-item.active .nav-link,
.navbar-cyberpunk .nav-item:focus .nav-link,
.navbar-cyberpunk .nav-item:hover .nav-link {
    color: #fcf700;
    background-color: #18181a;
}

.navbar-toggler-icon {
    background-image: url(./imgs/ui/navbar-button-dark.png);
}

.navbar-toggler:focus {
    .navbar-toggler-icon {
        background-image: url(./imgs/ui/navbar-button.png);
    }
    background-color: #18181a;
}

.active {
    background-color: #18181a;
    color: #fcf700 !important;
}

/************************************* 
    Introduction Styles
*************************************/  
#headshot {
    width: 100%;
    height: auto;
    border: 10px #fcf700 solid;
}

#signature {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: auto;
    background-color: #18181aa9;
    border: 5px #fcf700 solid;
}

#intro-text {
    margin-top: 20px;

}

.github-div,
.linkedin-div,
.indeed-div {
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

.github-div {
    background-image: url(./imgs/ui/logos/github.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.github-div:hover {
    background-image: url(./imgs/ui/logos/github-outline.png);
    transition: .5s;
}

#linkedin-div {
    background-image: url(./imgs/ui/logos/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#linkedin-div:hover {
    background-image: url(./imgs/ui/logos/linkedin-outline.png);
    transition: .5s;
}

#indeed-div {
    background-image: url(./imgs/ui/logos/indeed.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#indeed-div:hover {
    background-image: url(./imgs/ui/logos/indeed-outline.png);
    transition: .5s;
}

/************************************* 
    About Me Styles
*************************************/ 
#left-for-dev {
    position: relative;
    left: 60px;
}


/************************************* 
    Mobile Styles
*************************************/ 
@media (max-width: 1394px) {
    #left-for-dev {
        left: 0px;
    }
}

@media (max-width: 1200px) {
    .github-div,
    .linkedin-div,
    .indeed-div {
        width: 300px;
        height: 300px;
        margin-top: 50px;
        margin-left: 310px;
    }
}

/* Tablets */
@media (max-width: 991px) {

    .github-div,
    .linkedin-div,
    .indeed-div {
        margin-left: 190px;
    }
}


@media only screen and (max-width: 576px) {
    .navbar-cyberpunk .navbar-nav .nav-link{
        position: relative;
        top: 0px;
        text-indent: 10px;
        font-family: 'Josefin Sans', sans-serif;
    }

    #main-content {
        margin-top: 20px;
    }
}

/* Mobile L */
@media (max-width: 426px) {
    .github-div,
    .linkedin-div,
    .indeed-div {
        margin-left: 50px;
    }
}

/* Mobile M */
@media (max-width: 376px) {
    .github-div,
    .linkedin-div,
    .indeed-div {
        margin-left: 20px;
    }
}

/* Mobile S */
@media (max-width: 321px) {
    .github-div,
    .linkedin-div,
    .indeed-div {
        margin-left: 0px;
    }
}